* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Google Sans Code', Arial;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #57564F;
  height: 2000px;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  padding: 0 50px;
  background-color: #57564F;
}

.logo {
  width: 300px;
  text-decoration: none;
  color: #DDDAD0;
  font-family: 'Playwrite AU NSW', Arial;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-bar ul li {
  font-weight: 500;
  margin-right: 30px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #DDDAD0;
  white-space: nowrap;
}

.nav-bar ul li a:hover {
  color: #7A85C1;
}

.home {
  width: 100%;
  color: #F8F3CE;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}

.left-content {
  width: 600px;
  padding-left: 80px;
  flex: 1;
}

.left-content img{
  height: 30px;
  cursor: pointer;
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: .5;
  color: #7A85C1;
}

.role {
  font-size: 2.5rem;
  font-weight: bold;
  color: #DDDAD0;
}

.content {
  font-weight: 500;
  margin: 1.5rem 0;
}

.download-btn {
  background-color: #7A85C1;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #7A85C1;
  border-radius: 16px;
  padding: 8px;
  margin: 10px 0;
  cursor: pointer;
}


.right-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 50px;
  flex: 1;
}

.right-image{
  height: 350px;
  width: 350px;
  object-position: center;
  border-radius: 50%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, );
}

.about {
  color: #DDDAD0;
  margin: 0 auto;
  padding: 0 80px;
}

.about-me {
  color: #7A85C1;
  text-align: center;
  margin: 20px 0;
}

.about-sections {
  color: #F8F3CE;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 50px;
}

.skills-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}


.about-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 50px;
  margin: 20px 0;
}

.about-left-side {
  flex: 1;
}

.about-left-content {
  font-size: 1.5rem;
  font-weight: bold;
}

.about-right-side {
  flex: 1;
}

.about-right-content {
  flex: 1;
}

.skills-section {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.skills-side {
  display: flex;
  flex-wrap: wrap;
}

.skills-container {
  width: 150px;
  height: 50px;
  border: 1px solid #7A7A73;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.skills-container:hover {
  background-color: #7A85C1;
  transform: translateY(-10px)scale(1.02);
  border: #7A85C1;
}

.icon {
  background-color: transparent;
  width: 30px;
  margin-right: 5px
}

.stack {
  font-size: 1rem;
  margin: 10px 0;
}

/* PROJECT SECTION */
.projects {
  margin: 100px 80px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;

}

.project-sections {
  color: #7A85C1;
  margin-bottom: 50px;
  text-align: center;
}

.project-img {
  width: 30vw;
}

.project-title {
  color: #DDDAD0;
}

.project-text {
  color: #DDDAD0;
}

.project-container {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 1.5rem;
  border: 2px solid #7A7A73;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.project-container p {
  flex-grow: 1;
}

.project-container:hover {
  background-color: #7A85C1;
  color: #DDDAD0;
  transform: translateY(-10px)scale(1.02);
}

.project-container img {
  width: 20vw;
  border-radius: 1rem;
}

.demo-btn {
  padding: 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.demo-btn:hover {
  background-color: black;
  color: #DDDAD0;
}

/* RESPONSIVENESS */
@media (max-width: 1110px) {
  .name { 
    font-size: 2rem
  }
  .role {
    font-size: 2rem;
  }
}

@media (max-width: 835px) {
  .skills-side {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 820px) {
  .name {
    font-size: 1.5rem;
  }
  .role {
    font-size: 1.5rem;
    line-height: normal;
  }
  .right-image {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  /* HOME SECTION */
  .home {
    flex-direction: column-reverse;
    text-align: center;
    margin: 20px 0;
    gap: 0;
  }
  .left-content, .right-content {
    max-width: 90%;
    padding: 20px;
  }
  .right-image {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }

  /* ABOUT SECTION */
  .about {
    margin: 0 20px;
    padding: 20px;
  }
  .about-sections {
    text-align: center;
    margin: 20px 0;
  }
  .about-section {
    flex-direction: column;
  }
  .about-container {
    flex-direction: column;
    text-align: center;
  }
  .skills-section{
    margin: 0;
  }
  .skills-side {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 680px) {
  .nav-bar ul li {
    padding-right: 15px;
  }
}

@media (max-width: 380px) {
  .home {
    gap: 0;
  }
  .about-container {
    flex-direction: column;
  }
  .about-sections {
    margin: 20px 0;
  }
  .about {
    margin: 0 auto;
    padding: 0 20px;
  }
  .skills-section {
    flex-direction: column;
  }
  
  .skills-container .icon {
    width: 40px;
    height: 40px;
  }
}